@model QuanLyVatTuPhanXuong.Models.tNuocSX

@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>Find</h2>
<form method="post">
    MaNuoc: <input type="text" name="MaNuoc" /> <br />
    <input type="submit" value="Tim" />
</form>

