@model QuanLyVatTuPhanXuong.Models.tPhuKien

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>
<form method="post">
    MaPhuKien: <input type="text" name="MaPhuKien" /> <br />
    MaNuoc: <input type="text" name="MaNuoc" /> <br />
    <input type="submit" value="Tim" />
</form>
