@model QuanLyVatTuPhanXuong.Models.tTho

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>

<form method="post">
    MaTho: <input type="text" name="MaTho"/> <br/>
    <input type="submit" value="Tim" />
</form>
