@model QuanLyVatTuPhanXuong.Models.tXe

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>
<form method="post">
    MaXe: <input type="text" name="MaXe" /> <br />
    <input type="submit" value="Tim" />
</form>
